@import './variables';
@import './mixins';
@import './nav';
@import './selection';
@import './recipes';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: auto;
    max-width: 1240px;
    margin: 1rem auto;
}
#logo {
  display: block;
  margin: auto;
  height: 5.875rem;
  margin-bottom: 20px;
}
.search-error-msg {
  text-align: center;
  margin: 1em auto;
}

